
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.none {
  display: none;
}

.details{
  display: block;
  position: fixed;
  border: 3px solid #73AD21;
  height: 200 px;
  width: 100 px;
  bottom: 20px;
  left: 20 px;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after{
  display: none;
}
